<div id="<%= dom_id post %>">
  <p class="text-3xl font-semibold">
    <%= post.title %>
  </p>
  <div class="divider divider-error"><%= l post.created_at.to_date, format: :long %></div>
  <div class="w-full">
    <%= post.content %>
  </div>
</div>
