<div class="grid gap-6">
  <%= image_tag 'romin-rails.png', class: "h-56 w-56 object-cover rounded-full" %>
  <h1 class="text-4xl font-bold">Rômulo Oliveira (Romin Dev)</h1>
  <div class="grid gap-2">
    <h2 class="text-2xl font-semibold">Opa, tudo bem? 👋</h2>
    <p>
      Meu nome é Rômulo Oliveira, sou desenvolvedor Ruby on Rails full-stack, e um usuário comum da web. Esse Blog foi feito para compartilhar conhecimento e experiências com a comunidade de desenvolvedores apaixonados por esse lindo e amado framework o <a href="https://rubyonrails.org/" target="_blank" rel="noopener noreferrer" class="link link-hover">
        <strong class="text-red-700">Ruby on Rails</strong>.  
      </a>
    </p>
    <p class="flex items-center gap-2">
      Espero que goste do conteudo e que possa te ajudar de alguma forma. <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="text-red-700" viewBox="0 0 15 15"><path fill="currentColor" d="M14.5 14.5v.5h.5v-.5zm0-14h.5V0h-.5zm-6 0V0h-.207l-.147.146zm-8 8l-.354-.354L0 8.293V8.5zm0 6H0v.5h.5zm4-4l-.224.447l.019.01l.02.007zm0-6V4a.5.5 0 0 0-.5.5zm6 0l.464-.186l-.008-.019l-.009-.019zm4.5 10V.5h-1v14zM14.5 0h-6v1h6zM8.146.146l-8 8l.708.708l8-8zM0 8.5v6h1v-6zM.5 15h14v-1H.5zM14.146.146l-14 14l.708.708l14-14zM5 10.5v-6H4v6zM4.5 5h6V4h-6zm-.186 5.964l10 4l.372-.928l-10-4zm5.722-6.278l4 10l.928-.372l-4-10zM8.053.724l2 4l.894-.448l-2-4zM.276 8.947l4 2l.448-.894l-4-2z"/></svg>
    </p>
    <p class="mt-2 grid gap-4">
      <a href="http://portfolio.romin.dev.br" target="_blank" rel="noopener noreferrer" class="link">
        Saiba mais sobre mim →
      </a>
      <a href="http://portfolio.romin.dev.br" target="_blank" rel="noopener noreferrer" class="link">
        Me acompanha também pelo Youtube →
      </a>
    </p>
    <div class="mt-4">
      <p class="mb-2 text-lg font-semibold">Vamos nos conectar! 👇</p>
      <%= render 'links' %>
    </div>
  </div>
</div>