/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import url("./simple_navbar.css");

.notice {
  color: #18603a;
  background: #d5f1de url("check.svg") no-repeat 6px center;
  border-color: #c4ebd1;
}

.info {
  color: #1b508f;
  background: #d6ebff url("exclamation.svg") no-repeat 6px center;
  border-color: #c6e2ff;
}

.error {
  color: #772b35;
  background: #fadddd url("x.svg") no-repeat 6px center;
  border-color: #f8cfcf;
}

.warning {
  color: #815c15;
  background: #feefd0 url("danger.svg") no-repeat 6px center;
  border-color: #fde9bd;
}

.base-alert {
  position: relative;
  padding: 0.75rem 2.3rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: fit-content;
  text-align: center;
  top: 50%;
  right: 35%;
  transform: translateX(0%);
  position: absolute;
  animation: alert-box 3s forwards;
}

@keyframes alert-box {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  25% {
    transform: translateX(-10%);
    opacity: 1;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
  90% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 0;
    display: none;
  }
}




