.simple-nav-bar-hidden {
  display: none !important;
}

.simple-nav-bar {
  padding: 16px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.simple-nav-bar-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.simple-nav-bar-brand-link {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.simple-nav-bar-brand-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.simple-nav-bar-brand-logo {
  width: 4rem;
  height: 4rem;
}

.simple-nav-bar-burger-button {
  display: block;
}

.simple-nav-bar-burger-line {
  display: block;
  width: 1rem;
  height: 0.125rem;
  background-color: white;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.simple-nav-bar-burger-line:last-child {
  margin-bottom: 0;
}

.simple-nav-bar-close-button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.simple-nav-bar-close-line {
  display: block;
  position: absolute;
  width: 1rem;
  height: 0.125rem;
  background-color: white;
}

.simple-nav-bar-close-line:first-child {
  transform: rotate(45deg);
}

.simple-nav-bar-close-line:last-child {
  transform: rotate(-45deg);
}

.simple-nav-bar-nav-list-container {
  width: 100%;
}

.simple-nav-bar-nav-list {
  font-size: 1.25rem;
  text-align: start;
  align-items: center;
  column-gap: 1.25rem;
  padding-top: 1rem;
}

.simple-nav-bar-nav-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.simple-nav-bar-nav-link:hover {
  color: rgb(156, 163, 175);
}

@media (min-width: 768px) {
  .simple-nav-bar-container {
    max-width: 768px;
  }

  .simple-nav-bar-nav-items {
    column-gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .simple-nav-bar-container {
    max-width: 1024px;
  }

  .simple-nav-bar-burger-button,
  .simple-nav-bar-close-button {
    display: none;
  }

  .simple-nav-bar-nav-list-container {
    display: flex;
    align-items: center;
    width: auto;
  }

  .simple-nav-bar-nav-list {
    font-size: 1.125rem;
    display: flex;
    padding-top: 0;
  }

  .simple-nav-bar-nav-item {
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .simple-nav-bar-container {
    max-width: 1280px;
  }
}
